body {
    background-color: white;
    color: pink ;
}

#logo {
    width: 25%;
    margin-right: 25em;
}

#search {
    color: black
}

#blogshow {
    display: flex;
    flex-wrap: wrap;
}

#button {
    font-size: 1.3em;
}





/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background:  #555;
}


/* navbar styling */
.navbar{
    position: fixed;
    background: pink;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: pink;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #111;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: pink;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: white;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
 
enu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: black;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

.blog_divs{
    height: 40%;
    position:relative;
}

/* contact section styling */
.contact{
    background-color: pink;
}
.contact .title::after{
   content: "get in touch";
}
.contact .contact-content .column{
   width: calc(50% - 30px);
}
.contact .contact-content .text{
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 10px;
}
.contact .right form .fields{
   display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
   height: 45px;
   width: 100%;
   margin-bottom: 15px;
}
.contact .right form .textarea{
   height: 80px;
   width: 100%;
}
.contact .right form .name{
   margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
   height: 100%;
   width: 100%;
   border: 1px solid lightgrey;
   border-radius: 6px;
   outline: none;
   padding: 0 15px;
   font-size: 17px;
   font-family: 'Poppins', sans-serif;
   transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
   border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
 padding-top: 10px;
 resize: none;
}
.contact .right form .button-area{
 display: flex;
 align-items: center;
}
.right form .button-area button{
 color: #fff;
 display: block;
 width: 160px!important;
 height: 45px;
 outline: none;
 font-size: 18px;
 font-weight: 500;
 border-radius: 6px;
 cursor: pointer;
 flex-wrap: nowrap;
 background: black;
 border: 2px solid black;
 transition: all 0.3s ease;
}
.right form .button-area button:hover{
 color: black;
 background: none;
}


/*footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    position:absolute;
    bottom:0.01%;
    width:100%;
}
footer span {
    color: pink;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
